ul#reaction_list{
    list-style-type: decimal;
  }
#edit_button{
  background-color: orange;
}
#smart_display{
  min-width: 300px;
  color: #b53232;
  background-color: #d8d4d4;

}
#new-reaction-dialog{
  width: 400px;
}