
#reaction ul#reaction_list{
    list-style-type: decimal;
  }
#reaction #edit_button{
  background-color: orange;
}
#reaction #smart_display{
  min-width: 300px;
  color: #b53232;
  background-color: #d8d4d4;

}
#reaction #new-reaction-dialog{
  width: 400px;
}
#reaction div[dropzone] {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  margin-bottom: 20px;
}