<div style="padding-left: 30px">
    <div layout="row" flex=100 layout-padding>
        <div style="height: 90px;line-height: 80px;" flex=30>{{item.display}}</div>
        <md-input-container flex=20 style="padding-top:20px">
            <md-checkbox name="addh" ng-model="item.addHs">
                Add Hs
            </md-checkbox>
        </md-input-container>
        <md-switch class="md-primary" style="padding-top:20px" name="ionize" ng-model="item.ionize" layout-align="center center">
            Ionize
        </md-switch>
        <md-input-container ng-if="item.ionize">
            <label>pH</label>
            <md-select name="type" ng-model="item.ph" required>
                <md-option data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" ng-value="i">{{i}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>