<!doctype html>
<html>

<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Analysis Tools</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- build:css({.tmp,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>


<body ng-app="app" style="background-color:white;">

  <div ng-controller="IndexController as vm" ng-cloak>
    <md-sidenav class="md-sidenav-left" md-component-id="left" 
    md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <div layout="row">
          <h1 class="md-toolbar-tools">Chem Tools</h1>
          <md-button ng-click="toggleLeft()" >
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
        </div>

      </md-toolbar>

      <md-content layout-margin>
        <md-list-item ng-click="vm.changeMenu(menu.page)" ng-repeat="menu in vm.menuList">
          <div layout="row">
              <md-icon class="material-icons" >{{menu.icon}}</md-icon>
              <div layout-padding> {{ menu.name }} </div>
          </div>
          
        </md-list-item>

      </md-content>

    </md-sidenav>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-button id="next" class="md-primary" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <md-nav-item md-nav-click="vm.goto('reaction')" name="home">
        HOME
      </md-nav-item>
      <md-nav-item md-nav-click="vm.goto('test')" name="about">
        ABOUT
      </md-nav-item>
      <md-nav-item md-nav-click="goto('app')" name="download">
        DOWNLOAD
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page4')" name="contact">
        CONTACT
      </md-nav-item>
    </md-nav-bar>
  </div>
  <ui-view></ui-view>
</body>

<!-- build:js({.tmp,src}) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->


</html>