<section layout-padding>
  <div id="debug" ng-show="false">
      <textarea  wrap="off" id="glmol01_src"></textarea> <button ng-click="vm.reload()"> reload</button>
  </div>
 
  <div layout-margin layout-padding layout="row">
    <choose-file layout="row" flex="40">
      <input id="fileInput" type="file" class="ng-hide">
      <md-input-container flex class="md-block">
        <input type="text" ng-model="fileName" disabled>
        <div class="hint">Input SDF File</div>
      </md-input-container>
      <div>
        <md-button id="uploadButton" class="md-primary md-fab md-mini">
          <md-icon class="material-icons">attach_file</md-icon>
        </md-button>
      </div>
    </choose-file>


    <md-button id="execute" ng-click="vm.executeFile()" class="md-fab ">
      <md-icon class="material-icons">play_circle_outline</md-icon>
    </md-button>
  </div>

  <div class="center" layout="column" >
    <div class="center"  layout="row">
      <div>
        <md-button id="back" class="md-primary" ng-click="vm.changeIndex(-1)">
          <md-icon class="material-icons">skip_previous</md-icon>
        </md-button>
      </div>
      <div flex=60 ng-show="vm.hasOutput" layout-padding style="padding-top:12px">{{vm.molecule_name }}
        <span style="padding-left: 20px">({{ vm.showIndex+1}} / {{vm.sdf_list.length}})</span>
      </div>
      <div>
        <md-button id="next" class="md-primary" ng-click="vm.changeIndex(1)">
          <md-icon class="material-icons">skip_next</md-icon>
        </md-button>
      </div>
    </div>
    <div id="glmol01"></div>
  </div>



</section>
